.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #800080, #0000ff);
  height: 100vh;
  overflow: hidden;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.card-container {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  width: 300px;
  height: 400px;
  position: relative;
}

@media (min-width: 768px) {
  .card-container {
    width: 400px; /* Adjust the width for wider screens */
  }
}

.project-card {
  position: absolute;
  width: 100%;
  min-height: 100%; /* Set min-height instead of height */
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transform-origin: center;
  transform-style: preserve-3d;
  padding-bottom: 20px;
  box-sizing: border-box; /* Add box-sizing property */
  outline-style: auto;
  outline-color: #333;
  outline-offset: -5px; /* Adjust the outline-offset to match the border size */
}



.company-logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.company-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.duration {
  color: #888;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 0.9rem;
}

.card-button {
  margin: 0 0.5rem;
}

/* Add margin to create a gap between the buttons */
.card-button:not(:last-child) {
  margin-right: 1rem;
}

.active {
  background-color: #333;
  color: #fff;
}

.card-container {
  transform: rotateY(calc(-1 * var(--current-index) * 90deg));
}
